spring.data.mongodb.uri=mongodb+srv://Admin:FGQ8d5mcR9iICLkx@cluster0.9puov.mongodb.net/TimeSheetDB?retryWrites=true&w=majority
spring.data.mongodb.database=TimeSheetDB

spring.mvc.view.prefix=/WEB-INF/
spring.mvc.view.suffix=.jsp
spring.mvc.servlet.path=/auth

server.port=9999